.add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  background-color: #4A93C2;
  border: 10px solid black;
}

h2 {
  text-align: center;
  color: black;
}

fieldset {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 2px;
  margin-right: 2px;
  border: 3px solid #FFFD8F;
  border-radius: 10px;
}

legend {
  display: none;
}

.main-label {
  font-variant: small-caps;
  font-weight: bold;
  margin: 5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type=radio] {
  margin: 5px;
}

input[type=text] {
  margin: 5px;
  padding: 5px;
  width: 50%;
  height: 35px;
  font-size: 18px;
}

label {
  margin: 2px;
  font-size: 20px;
}

button.submit-button {
  border-radius: 30px;
  border: 2px solid black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  width: 60px;
  margin: 10px 20px 10px auto;
  background-color: white;
}
