.content {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 80%;
  background-color: #4A93C2;
  border: 10px solid black;
}

h2 {
  margin: 10px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

.sub-section {
  font-weight: bold;
}
