.update-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #AD264C;
  border: 2px solid #AD264C;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-align: center;
  color: white;
}
h3, h4 {
  text-align: center;
  font-size: 22px;
  color: white;
  margin: 10px;
}

.fieldset_wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  height: 400px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 30px;
}
.pet-section {
  color: white;
}
fieldset {
  background-color: #AD264C;
  display: flex;
  font-size: 18px;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
  margin: 0px;
}

legend {
  display: none;
}

.main-label {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 5px 0px 5px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type=text] {
  padding: 5px 5px 5px 10px;
  height: 35px;
  font-size: 18px;
}


@media screen and (max-width: 500px) {
  .update-form {
    height: auto;
  }
  .fieldset_wrap {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  fieldset {
    width: 100%;
  }
}
