.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7A1B36;
  height: 100%;
  width: 100%;

}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
  margin: 10px;
  color: white;
  font-size: 40px;
}

div.success {
  margin: 0px auto 10px auto;
}


@media screen and (max-width: 460px) {

  .App-header {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 25px;
    margin: 3px;
  }

  h3 {
    margin: 3px;
    padding-left: 5px;
  }
}
