.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #FFFD8F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 10px solid black;
}

h1, h3 {
  margin: 10px;
  color: black;
}

div.success {
  margin: 0px auto 10px auto;
}


@media screen and (min-width: 460px) {
  h1, h3 {
    color: black;
    text-align: right;
  }
}
